/* body{
    margin:0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: ;
}


#calculator{
    border: 1px solid rgb(9, 9, 9);
    border-radius: 5px;
    width: 165px;
background-color: aqua;
}
#display{
    background-color: blue;
    margin: 10px ;
    width: 84%;
    font-size: 25px;
}
.button-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button{
    background-color: aquamarine;
    width: 40px;
    height: 40px;
    margin: 3px;
} */

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #3498db, #8e44ad);
}

#calculator {
    border: 1px solid rgb(9, 9, 9);
    border-radius: 5px;
    width: 165px;
    background-color: aqua;
    padding: 27px 27px;
}
#display {
    background-color: blue;
    margin: 10px;
    width: 93%;
    margin-left: 1px;
    font-size: 25px;
    border-radius: 9%;
}

.button-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.button {
    background-color: aquamarine;
    width: 40px;
    height: 40px;
    margin: 3px;
}
